@model WebDevProject.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

@section Styles {
    <link rel="stylesheet" href="~/css/editprofile.css" asp-append-version="true" />
}

<form class="profile" id="editprofile-form" asp-action="Edit" method="post" enctype="multipart/form-data"> 
    @Html.AntiForgeryToken()
    <div class="edit-picture">
        <img class="profile-picture" id="preview" src="@(Model.CurrentProfilePictureUrl ?? "/images/default-avatar.png")" alt="picture">
        <input asp-for="ProfileImage" type="file" id="imageInput" accept="image/*" hidden>
        <button id="changePicBtn" type="button">Change Picture</button>
        <span asp-validation-for="ProfileImage"></span>
    </div>
    <div class="profile-data">
        <div class="data-menu">
            <div class="row">
                <span class="label">Username :</span>
                <input asp-for="UserName" id="usernameInput" required>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <span id="nameError" class="text-danger"></span>
            </div>
            <div class="row">
                <span class="label">Gender :</span>
                <span>
                    <input asp-for="UserGender" type="radio" id="male" value="0" checked="@(Model.UserGender == WebDevProject.Models.Users.Gender.Male ? "checked" : null)">
                    <label for="male">male</label>
                </span>
                <span>
                    <input asp-for="UserGender" type="radio" id="female" value="1" checked="@(Model.UserGender == WebDevProject.Models.Users.Gender.Female ? "checked" : null)">
                    <label for="female">female</label>
                </span>
                <span>
                    <input asp-for="UserGender" type="radio" id="other" value="2" checked="@(Model.UserGender == WebDevProject.Models.Users.Gender.Other ? "checked" : null)">
                    <label for="other">other</label>
                </span>
                <span asp-validation-for="UserGender"></span>
            </div>
            <div class="row">
                <span class="label">Birth Date :</span>
                <input asp-for="DateOfBirth" type="date" id="birthdateInput"/>
                <span asp-validation-for="DateOfBirth"></span>
            </div>
            <div class="row">
                <span class="label">Email :</span>
                <input type="email" id="emailInput" name="Email" asp-for="Email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" id="save">save change</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/editprofile.js" asp-append-version="true"></script>
}